<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails du patient</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="flex ">
    <div th:insert="Composant/sidebare :: aside"></div>

    <div class="flex-1 p-2">
        <header th:insert="Composant/header.html :: header"></header>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>
        <h1>Bienvenue Chez Teeth-tech</h1>





    </div>
</div>

</body>
</html>