<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier Employé</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex">
    <div th:insert="Composant/sidebare :: aside"></div>
    <div class="container mx-auto">
        <div class="flex-1 p-2">
            <header th:insert="Composant/header.html :: header"></header>
            <h1 class="text-3xl font-bold mb-4">Modifier Employé</h1>
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="pt-3 pl-3">
                    <form th:action="@{'/employers/'+${employer.id_Employer}+'/update'}" method="post" class="m-5 grid grid-cols-2 gap-x-8 gap-y-4">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" th:field="*{employer.id_Employer}"/>
                        <div>
                            <label for="cinEmployer" class="block text-sm font-medium leading-6 text-gray-900">CIN:</label>
                            <input type="text" id="cinEmployer" name="cin_Employer" th:value="${employer.cin_Employer}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="nomEmployer" class="block text-sm font-medium leading-6 text-gray-900">Nom:</label>
                            <input type="text" id="nomEmployer" name="nom_Employer" th:value="${employer.nom_Employer}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="prenomEmployer" class="block text-sm font-medium leading-6 text-gray-900">Prénom:</label>
                            <input type="text" id="prenomEmployer" name="prenom_Employer" th:value="${employer.prenom_Employer}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="emailEmployer" class="block text-sm font-medium leading-6 text-gray-900">Email:</label>
                            <input type="email" id="emailEmployer" name="email_Employer" th:value="${employer.email_Employer}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="telEmployer" class="block text-sm font-medium leading-6 text-gray-900">Téléphone:</label>
                            <input type="tel" id="telEmployer" name="tel_Employer" th:value="${employer.tel_Employer}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="adresseEmployer" class="block text-sm font-medium leading-6 text-gray-900">Adresse:</label>
                            <input type="text" id="adresseEmployer" name="adresse_Employer" th:value="${employer.adresse_Employer}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="dateNaissance" class="block text-sm font-medium leading-6 text-gray-900">Date de Naissance:</label>
                            <input type="date" id="dateNaissance" name="dateNaissance" th:value="${employer.dateNaissance}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="salairteBase" class="block text-sm font-medium leading-6 text-gray-900">Salaire de Base:</label>
                            <input type="number" id="salairteBase" name="SalairteBase" th:value="${employer.SalairteBase}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="prime" class="block text-sm font-medium leading-6 text-gray-900">Prime:</label>
                            <input type="number" id="prime" name="prime" th:value="${employer.prime}"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <div>
                            <label for="joursConges" class="block text-sm font-medium leading-6 text-gray-900">Jours de congés:</label>
                            <input type="number" id="joursConges" name="jours_Conge" th:value="${employer.jours_Conge}" required
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-lg">
                        </div>
                        <!-- Champs pour l'Assurance -->
                        <div>
                            <label for="assurance" class="block text-sm font-medium leading-6 text-gray-900">Assurance:</label>
                            <select id="assurance" name="assurance" required class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg">
                                <option value="">--Sélectionnez--</option>
                                <option th:each="assurance : ${assuranceValues}"
                                        th:value="${assurance.name()}" th:text="${assurance.name()}"
                                        th:selected="${assurance == employer.assurance}"></option>
                            </select>
                        </div>

                        <!-- Champs pour la Fonction -->
                        <div>
                            <label for="fonction" class="block text-sm font-medium leading-6 text-gray-900">Fonction:</label>
                            <select id="fonction" name="fonction" required class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg">
                                <option value="">--Sélectionnez--</option>
                                <option th:each="fonction : ${fonctionValues}"
                                        th:value="${fonction.name()}" th:text="${fonction.name()}"
                                        th:selected="${fonction == employer.fonction}"></option>
                            </select>
                        </div>

                        <!-- Champs pour le Statut -->
                        <div>
                            <label for="statuts" class="block text-sm font-medium leading-6 text-gray-900">Statuts:</label>
                            <select id="statuts" name="statuts" required class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-lg">
                                <option value="">--Sélectionnez--</option>
                                <option th:each="statuts : ${statutsValues}"
                                        th:value="${statuts.name()}" th:text="${statuts.name()}"
                                        th:selected="${statuts == employer.statuts}"></option>
                            </select>
                        </div>


                        <div class="col-span-2">
                            <button type="submit"
                                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Mettre à jour
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
